# env (clone해서 프로젝트를 실행하고자 한다면 별도로 .env 파일 생성해야 함)
# VITE_OPEN_API_SERVICE_KEY=공공데이터키
# VITE_KAKAO_MAP_SERVICE_KEY=카카오키
# VITE_VUE_API_URL=http://localhost/vue
# VITE_ARTICLE_LIST_SIZE=20
# VITE_ARTICLE_NAVIGATION_SIZE=10
.env

# DB
Dump20230324.sql

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
